@import '../fonts/public-sans/public-sans.css';

$fontPublicSans: 'Public Sans';
$darkGrey: #222;
$lightGrey: #777;
$opaqueWhite: #eee;
$mainBlue: #027dfc;
$lightBlue: #05b0ff;
$gradientRed: linear-gradient(90deg, #f29871, #ff4d4d);
$gradientGray: linear-gradient(90deg, #5f5f5f, #c1c1c1);

body {
    background-image: url(../images/background.png) !important;
    background-color: #16171b !important;
}

//Generales inicio
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font: normal normal bold 3em $fontPublicSans;
        text-align: center;
        color: white;
    }
}


.mail-button {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 1em;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px $mainBlue;

    a {
        color: white !important;
        font: normal normal bold 1.2em $fontPublicSans;
        text-decoration: none !important;
    }

    i {
        color: white !important;
        font-size: 20px !important;
        margin: 0px auto !important;
    }


    &:hover {
        transition: .3s;
        background-color: $lightGrey;
    }
}

//Generales fin
.mobile-hamburger {
    position: fixed;
    right: 5vw;
    top: 2vw;
    display: none;
    z-index: 10;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.division {
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
    max-width: 1920px;
    margin: 0px auto;

    .side-bar {
        background-color: $darkGrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5em 1em 1em 1em;

        .top-logo {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .menu-options {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                padding: 1em 0em;
                color: $opaqueWhite;
                cursor: pointer;
                font: normal normal normal 16px $fontPublicSans;
                opacity: .5;
                transition: .3s;

                &:hover {
                    font: normal normal bold 16px $fontPublicSans;
                    transition: .3s;
                    opacity: 1;
                }
            }
        }

        .bottom-content {
            h1 {
                margin-bottom: 1em;
                color: $opaqueWhite;
                cursor: pointer;
                font: normal normal normal 20px $fontPublicSans;
                opacity: .5;
                transition: .3s;

                &:hover {
                    font: normal normal bold 20px $fontPublicSans;
                    transition: .3s;
                    opacity: 1;
                }

            }
        }
    }

    .content-page {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        .background {
            position: absolute;
            width: 75%;
            height: 100vh;
            clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
            background-color: #34353a;
        }

        .presentation {
            height: 100vh;
            position: relative;

            .presentation-container {
                max-width: 1200px;
                height: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                justify-content: space-between;
                margin: 0px auto;
                position: relative;

                .left-content {
                    margin: 0px auto;

                    .text {
                        h1 {
                            font: normal normal bold 4.5em $fontPublicSans;
                            color: white;
                        }

                        p {
                            font: normal normal bold 1.5em/32px $fontPublicSans;
                            color: $lightBlue;
                            margin: 0px auto;

                            b {
                                color: white;
                            }
                        }
                    }
                }

                .right-content {
                    margin: 0px auto;

                    img {
                        width: 100%;
                        animation-name: floatingImage;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease-in-out;
                        animation-direction: alternate;

                        @keyframes floatingImage {
                            0% {
                                transform: translateY(-2%)
                            }

                            100% {
                                transform: translateY(2%)
                            }
                        }
                    }
                }
            }
        }

        .about-me {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            max-width: 1200px;
            margin: 0px auto;

            .content {
                display: flex;
                margin-top: 50px;
                align-items: center;
                justify-content: center;
                grid-gap: 110px;

                .left-content {
                    p {
                        font: normal normal normal 16px/30px $fontPublicSans;
                        color: #ddd;

                        b {
                            color: $lightBlue;
                        }
                    }

                }

                .right-content {
                    .image {
                        width: 350px;
                        height: 350px;
                        position: relative;
                        display: flex;

                        img {
                            width: 80%;
                            height: 100%;
                            object-fit: cover;
                            margin: 0px auto;
                        }

                        .animation-image {
                            position: absolute;
                            content: "";
                            top: 24px;
                            bottom: 24px;
                            left: 24px;
                            right: 24px;
                            background: $gradientGray;
                            z-index: -1;
                            transform: rotate(-50deg);
                            animation: animationRotate 13s linear 0s infinite alternate;
                        }

                        @keyframes animationRotate {
                            0% {
                                transform: rotate(-50deg);
                            }

                            100% {
                                transform: rotate(-30deg);
                            }
                        }
                    }
                }
            }
        }

        .skills {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            max-width: 1200px;
            margin: 0px auto;

            .three-cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
                margin-top: 50px;
                grid-gap: 1.5rem;

                h1 {
                    color: $lightBlue;
                }

                .card {
                    padding: 4rem;
                    border-radius: 1rem;
                    background-color: $darkGrey;

                    h1 {
                        text-align: center;
                        margin-bottom: 40px;
                        font: normal normal normal 20.8px $fontPublicSans;
                    }

                    .icons {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        grid-gap: 10px;

                        .icon {
                            width: 70px;
                            padding: 5px;
                            border-radius: 0.5rem;
                            background-color: #454549;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            transition: .3s;

                            img {
                                width: 40px;
                                height: auto;
                                object-fit: cover;
                                margin-bottom: 5px;
                                transition: .3s;
                                mix-blend-mode: luminosity;

                            }

                            P {
                                padding: 0.5em 0 0;
                                color: white;
                                font: normal normal normal .7em $fontPublicSans;
                            }

                            &:hover {
                                transition: .3s;
                                outline: 1px solid $mainBlue;
                                box-shadow: 0 0 10px 1px $mainBlue;

                                img {
                                    mix-blend-mode: normal;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            }
        }

        .experience {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            max-width: 1200px;
            margin: 0px auto;

            .experience-container {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
                background-color: $darkGrey;
                margin-top: 50px;

                .jobs,
                .studies {
                    border-radius: 10px;
                    padding: 20px 10px;

                    .job,
                    .study {
                        display: flex;
                        justify-content: space-around;
                        margin-top: 40px;
                        background-color: $darkGrey;


                        .line {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .separator {
                                height: 100%;
                                width: 2px;
                                background-color: white;
                            }

                            i {
                                color: white;
                                margin: 15px 0px;
                                font-size: 20px;
                            }
                        }

                        .text {
                            background-color: #454549;
                            border-radius: 10px;
                            padding: 1.5rem 2rem;
                            width: 100%;
                            margin-left: 20px;
                            transition: .3s;

                            small {
                                font: normal normal normal 14px $fontPublicSans;
                                color: $lightBlue;
                                margin: auto;
                            }

                            h1 {
                                font: normal normal normal 30px $fontPublicSans;
                                color: white;
                                margin-top: 0px;
                            }

                            p {
                                font: normal normal normal 16px/25px $fontPublicSans;
                                color: $opaqueWhite;
                            }

                            &:hover {
                                transition: .3s;
                                outline: 1px solid $mainBlue;
                                box-shadow: 0 0 10px 1px $mainBlue;

                                img {
                                    mix-blend-mode: normal;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            }
        }

        .projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            max-width: 1200px;
            margin: 0px auto;
            margin-bottom: 200px;

            .projects-cards {
                display: grid;
                grid-gap: 2em;
                grid-row-gap: 50px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 100%;
                margin-top: 100px;

                .project-card {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: $darkGrey;
                    border-radius: 1rem;
                    overflow: hidden;
                    transition: .5s;

                    a {
                        width: 100%;
                        height: 100%;

                        .top-image {
                            width: 380px;
                            height: 200px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                max-height: 100%;
                                object-fit: cover;
                                transition: .5s;
                            }
                        }

                        .bottom-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 1.3em;

                            h1 {
                                font: normal normal normal 20.8px $fontPublicSans;
                                color: $lightBlue;
                            }

                            p {
                                margin: 1em 0 0;
                                font: normal normal normal 16px/25px $fontPublicSans;
                                color: white;
                            }
                        }
                    }

                    &:hover {
                        outline: 1px solid $mainBlue;
                        box-shadow: 0 0 10px 1px $mainBlue;
                        transition: .5s;

                        a {
                            .top-image {
                                img {
                                    transform: scale(1.2);
                                    transition: .5s;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            display: flex;
            background-color: $darkGrey;
            height: 100px;
            align-items: center;
            justify-content: center;

            small {
                color: white;
                font: normal normal bold 1em/30px $fontPublicSans;
            }
        }
    }
}

@media screen and (max-width: 1600px) {

    .section-title {
        h1 {
            font: normal normal bold 2em $fontPublicSans;
        }
    }

    .mail-button {
        a {
            font: normal normal bold 1em $fontPublicSans;
        }

        i {
            font-size: 1em !important;
        }
    }

    .division {
        grid-template-columns: 130px auto;

        .side-bar {
            .top-logo {
                width: 60px;
                height: 60px;
            }

            .menu-options {
                span {
                    font: normal normal normal 1em $fontPublicSans;

                    &:hover {
                        font: normal normal bold 1em $fontPublicSans;
                    }
                }
            }

            .bottom-content {
                h1 {
                    font: normal normal normal 1.2em $fontPublicSans;

                    &:hover {
                        font: normal normal bold 1.2em $fontPublicSans;
                    }
                }
            }
        }

        .content-page {
            .presentation {
                .presentation-container {
                    max-width: 90%;

                    .left-content {
                        .text {
                            h1 {
                                font: normal normal bold 3.5em $fontPublicSans;
                            }

                            p {
                                font: normal normal bold 1em/1.6em $fontPublicSans;
                            }
                        }
                    }
                }
            }

            .about-me {
                max-width: 90%;

                .content {
                    margin-top: 30px;
                    grid-gap: 80px;

                    .left-content {
                        p {
                            font: normal normal normal 1em/2em $fontPublicSans;
                            margin-bottom: 0;
                        }

                    }

                    .right-content {
                        .image {
                            width: 250px;
                            height: 250px;

                            .animation-image {
                                top: 16px;
                                bottom: 16px;
                                left: 16px;
                                right: 16px;
                            }
                        }
                    }
                }
            }

            .skills {
                max-width: 90%;

                .three-cards {
                    .card {
                        padding: 2rem;

                        h1 {
                            font: normal normal normal 1.2em $fontPublicSans;
                        }

                        .icons {
                            .icon {
                                img {
                                    width: 30px;
                                }

                                P {
                                    font: normal normal normal .6em $fontPublicSans;
                                }
                            }
                        }
                    }
                }
            }

            .experience {
                max-width: 90%;
                margin-bottom: 200px;

                .experience-container {

                    .jobs,
                    .studies {
                        border-radius: 10px;
                        padding: 20px 10px;

                        .job,
                        .study {
                            .text {
                                padding: 1.5rem 2rem;
                                margin-left: 20px;

                                small {
                                    font: normal normal normal 0.9em $fontPublicSans;
                                }

                                h1 {
                                    font: normal normal normal 2em $fontPublicSans;
                                }

                                p {
                                    font: normal normal normal 1.2em/1.3em $fontPublicSans;
                                }
                            }
                        }
                    }
                }
            }

            .projects {
                max-width: 90%;
                margin-bottom: 150px;

                .projects-cards {
                    width: 100%;
                    margin-top: 50px;

                    .project-card {
                        a {
                            .bottom-content {
                                padding: 1.3em;

                                h1 {
                                    font: normal normal normal 1.3em $fontPublicSans;
                                    margin-bottom: 0px;
                                }

                                p {
                                    font: normal normal normal 1.1em/1.5em $fontPublicSans;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                height: 90px;

                small {
                    font: normal normal bold 0.9em $fontPublicSans;
                }
            }
        }
    }
}

@media screen and (max-width: 1099px) {

    .mobile-hamburger {
        display: block;
    }

    .mail-button {
        margin: 0px auto;
    }

    .division {
        grid-template-columns: auto;

        .side-bar {
            position: absolute;
            width: 100%;
            height: 100%;
            left: -1100px;
            z-index: 9;

            .top-logo {
                width: 90px;
                height: 90px;
            }

            .menu-options {
                span {
                    font: normal normal normal 2em $fontPublicSans;
                    padding: 0.5em;

                    &:hover {
                        font: normal normal bold 2em $fontPublicSans;
                    }
                }
            }

            .bottom-content {
                h1 {
                    font: normal normal normal 1.5em $fontPublicSans;

                    &:hover {
                        font: normal normal bold 1.5em $fontPublicSans;
                    }
                }
            }
        }

        .content-page {
            .presentation {
                height: auto;

                .presentation-container {
                    grid-template-columns: auto;
                    padding: 100px 0px;

                    .left-content {
                        .text {
                            h1 {
                                font: normal normal bold 3.5em $fontPublicSans;
                            }

                            p {
                                font: normal normal bold 1em/1.6em $fontPublicSans;
                            }
                        }
                    }
                }
            }

            .about-me {
                height: auto;
                padding: 100px 0;

                .content {
                    flex-direction: column;
                    margin: 30px auto;

                    .left-content {
                        p {
                            font: normal normal normal 1em/2em $fontPublicSans;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .skills {
                height: auto;
                padding: 100px 0;

                .three-cards {
                    grid-template-columns: auto;
                }
            }

            .experience {
                height: auto;
                padding: 100px 0;

                .experience-container {
                    grid-template-columns: auto;

                    .jobs,
                    .studies {
                        padding: 20px 25px;
                    }
                }
            }

            .projects {
                height: auto;
                padding: 100px 0;

                .projects-cards {
                    grid-template-columns: auto;

                    .project-card {
                        a {
                            .top-image {
                                width: auto;
                                height: auto;
                            }

                            .bottom-content {
                                padding: 1.3em;

                                h1 {
                                    font: normal normal normal 1.3em $fontPublicSans;
                                    margin-bottom: 0px;
                                }

                                p {
                                    font: normal normal normal 1.1em/1.5em $fontPublicSans;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                height: 90px;

                small {
                    font: normal normal bold 0.9em $fontPublicSans;
                }
            }
        }
    }
}